{% include "header.html" %}
<section class="education" id="education">
<link rel="stylesheet" href="/static/css/style.css">
<h1 class="heading"> my <span>education</span> </h1>

<div class="box-container">

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2017</span>
        <h3>10th (SSC) </h3>
        <p>the successfully completed of the secondary education exam in maharashtra state board secondary & higher-secondary education!</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2019</span>
        <h3>12th (HSC) </h3>
        <p>the successfully completed of the higher-secondary education exam in maharashtra state board secondary & higher-secondary education!</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2019-20</span>
        <h3>1st Year of the B.Tech</h3>
        <p>the successfully completed of the 1st year in computer engineering with a Dr. Babasaheb Ambedkar Technological University!</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2020-21</span>
        <h3>2nd Year of the B.Tech</h3>
        <p>the successfully completed of the 2nd year in computer engineering with a Dr. Babasaheb Ambedkar Technological University!</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2021-22</span>
        <h3>3rd Year of the B.Tech</h3>
        <p>the successfully completed of the 3rd year in computer engineering with a Dr. Babasaheb Ambedkar Technological University!</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2022-23</span>
        <h3>4th Year of the B.Tech</h3>
        <p>the pursing of the 4th year in computer engineering with a Dr. Babasaheb Ambedkar Technological University!</p>
    </div>

</div>

</section>