{% include "header.html" %}
<link rel="stylesheet" href="/static/css/style.css">
<section class="portfolio" id="portfolio">

<h1 class="heading"> my <span>portfolio</span> </h1>

<div class="box-container">

    <div class="box">
        <img src="/static/images/img1.jpg" alt="">
    </div>

    <div class="box">
        <img src="/static/images/img2.jpg" alt="">
    </div>

    <div class="box">
        <img src="/static/images/img3.jpg" alt="">
    </div>

    <div class="box">
        <img src="/static/images/img4.jpg" alt="">
    </div>

    <div class="box">
        <img src="/static/images/img5.jpg" alt="">
    </div>

    <div class="box">
        <img src="/static/images/img6.jpg" alt="">
    </div>

</div>

</section>